* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


html>body,
h4,
p,
.serif {
	font-family: var(--serif), serif;
}

h1,
h2,
h3,
.listad,
.sans,
.caption,
nav a,
nav span {
	font-family: var(--sans), sans-serif;
}

.monospace {
	font-family: "American Typewriter", 'Courier New', Courier, monospace !important;
	text-align: left;
}

.ultrafina,
.ultralight .thin,
.ultra.light,
.light {
	font-family: var(--ultrafina), sans-serif !important;
	font-weight: var(--grosor) !important;
	letter-spacing: .05em;
}

.blod,
strong {
	font-weight: bold !important;
}

.condensed,
aside,
.nav-wrapper,
h2,
menu {
	font-family: var(--condensed), sans-serif !important;
}

.condensed,
h2 {
	text-transform: uppercase;
	line-height: 120%;
}

aside {
	font-variant: small-caps;
}

h1,
h2,
h3,
h4,
h5 {
	text-rendering: optimizeLegibility;
	margin: 0;
	padding: 0;
	font-weight: bold;
}