/* Cuando un titular H2 le precede un H3 le vamos a dar un formato especial, para empezar h3 tendrá una tipografía con serifa, un ancho del 75% y una línea gris debajo
*/

h2+h3 {
	font-family: var(--serif), serif;
	margin-top: 1.5rem;
	font-style: italic;
	margin-bottom: 1.9rem;
	max-width: 75%;
}

h2+h3:after {
	content: "";
	width: 6em;
	max-width: 50%;
	height: .5em;
	display: block;
	clear: both;
	border-bottom: .25em solid var(--gris);
	box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	-webkit-box-sizing: border-box !important;
}