/* Siguiendo los manuales de composición de libros y revistas, los párrafos van seguidos, pero para distinguirlos tienen un indentado de 2em salvo el primero que no tiene indentado
*/

*+p {
	text-indent: 0;

}

p+* {
    padding-top: 1.5rem;
}

p+p {
	text-indent: 2em;
    padding-top: 0;
	margin-top: 0;
}