/* Podría haber elegido muchos tipos de formularios pero estos de materializa css me gustan especialmente, tanto para escritorio o tablet como para móviles, eso si, pequeños cambios para prescindir del javascript y que las animaciones sean por puro css */
/* Forms de http://materializecss.com
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	/* 1 */
	
	font: inherit;
	/* 2 */
	
	margin: 0;
	/* 3 */
}
/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
	overflow: visible;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
	text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* 1 */

html input[type="button"],
button,
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}
/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
	cursor: default;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
	line-height: normal;
}
/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}
/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}
/**
 * Define consistent border, margin, and padding.
 */

fieldset {
	border: 1px solid var(--grisclaro);
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
	border: 0;
	/* 1 */
	
	padding: 0;
	/* 2 */
}
/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
	overflow: auto;
}
/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
	font-weight: bold;
}
/***************************
   Text Inputs + Textarea
****************************/

::-webkit-input-placeholder {
	color: var(--grisclaro);
}

:-moz-placeholder {
	/* Firefox 18- */
	
	color: var(--grisclaro);
}

::-moz-placeholder {
	/* Firefox 19+ */
	
	color: var(--grisclaro);
}

:-ms-input-placeholder {
	color: var(--grisclaro);
}

input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
textarea {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid var(--gris);
	border-radius: 0;
	outline: none;
	height: 5rem;
	width: 100%;
	font-size: 1rem;
	line-height: 100%;
	margin: 0 0 15px 0;
	padding: 0;
	box-shadow: none;
	box-sizing: content-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}

input[type=text]:disabled,
input[type=text][readonly="readonly"],
input[type=password]:disabled,
input[type=password][readonly="readonly"],
input[type=email]:disabled,
input[type=email][readonly="readonly"],
input[type=url]:disabled,
input[type=url][readonly="readonly"],
input[type=time]:disabled,
input[type=time][readonly="readonly"],
input[type=date]:disabled,
input[type=date][readonly="readonly"],
input[type=datetime-local]:disabled,
input[type=datetime-local][readonly="readonly"],
input[type=tel]:disabled,
input[type=tel][readonly="readonly"],
input[type=number]:disabled,
input[type=number][readonly="readonly"],
input[type=search]:disabled,
input[type=search][readonly="readonly"],
textarea:disabled,
textarea[readonly="readonly"] {
	color: rgba(0, 0, 0, 0.26);
	border-bottom: 1px dotted rgba(0, 0, 0, 0.26);
}

input[type=text]:disabled + label,
input[type=text][readonly="readonly"] + label,
input[type=password]:disabled + label,
input[type=password][readonly="readonly"] + label,
input[type=email]:disabled + label,
input[type=email][readonly="readonly"] + label,
input[type=url]:disabled + label,
input[type=url][readonly="readonly"] + label,
input[type=time]:disabled + label,
input[type=time][readonly="readonly"] + label,
input[type=date]:disabled + label,
input[type=date][readonly="readonly"] + label,
input[type=datetime-local]:disabled + label,
input[type=datetime-local][readonly="readonly"] + label,
input[type=tel]:disabled + label,
input[type=tel][readonly="readonly"] + label,
input[type=number]:disabled + label,
input[type=number][readonly="readonly"] + label,
input[type=search]:disabled + label,
input[type=search][readonly="readonly"] + label,
textarea:disabled + label,
textarea[readonly="readonly"] + label {
	color: rgba(0, 0, 0, 0.26);
}

input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea:focus:not([readonly]) {
	border-bottom: 1px solid var(--verde);
	box-shadow: 0 1px 0 0 var(--verde);
}

input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label,
input[type=time]:focus:not([readonly]) + label,
input[type=date]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=search]:focus:not([readonly]) + label,
textarea:focus:not([readonly]) + label {
	color: var(--verde);
}

.input-field {
	position: relative;
	padding-top: 1.5rem;
}

.input-field label {
	color: var(--gris);
	position: absolute;
	top: 1.5rem;
	left: 0.75rem;
	font-size: 1rem;
	cursor: text;
	-webkit-transition: .2s ease-out;
	transition: .2s ease-out;
}

.input-field input:focus + label,
.input-field textarea:focus + label,
.input-field input:valid + label,
.input-field textarea:valid + label {
	font-size: 0.8rem;
	top: 0;
}

.input-field .material-icons {
	position: absolute;
	width: 3rem;
	font-size: 2rem;
	-webkit-transition: color .2s;
	transition: color .2s;
}

.input-field .material-icons ~ input,
.input-field .material-icons ~ textarea {
	margin-left: 3rem;
	width: 92%;
	width: calc(100% - 3rem);
}

.input-field .material-icons ~ textarea {
	padding-top: .8rem;
}

.input-field .prefix ~ label {
	margin-left: 3rem;
}

.input-field input[type=search] {
	display: block;
	line-height: inherit;
	padding-left: 4rem;
	width: calc(100% - 4rem);
}

.input-field input[type=search]:focus {
	background-color: var(--blanco);
	border: 0;
	box-shadow: none;
	color: var(--grisoscuro);
}

.input-field input[type=search] + label {
	left: 1rem;
}

textarea {
	width: 100%;
	height: 3rem;
	background-color: transparent;
	overflow-y: hidden;
	/* prevents scroll bar flash */
	
	padding: 1.6rem 0;
	/* prevents text jump on Enter keypress */
	
	resize: none;
	min-height: 3rem;
}