.hr-white,
.hr-black {
    background: 0;
    border: 0;
    height: 2px;
}

.hr-white {
    background: -o-linear-gradient(left, var(--transparente), rgba(255, 255, 255, .8), var(--transparente));
}

.hr-black {
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0), rgba(0, 0, 0, .8), rgba(255, 255, 255, 0));
}


/* especiales para imágenes y otros usos */

.vignette:after,
.vignette-sepia:after,
.noise:after,
.backblur {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: repeat;
    z-index: 100;
}

.backblur:after {
}

.vignette:after {
    box-shadow: inset 0 0 30em rgba(0, 0, 0, 1), inset 0 0 6em rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 0 0 6em rgba(0, 0, 0, 1);
}

.vignette-sepia:after {
    box-shadow: inset 0 0 15em rgba(202, 167, 10, .7);
    -moz-box-shadow: inset 0 0 6em rgba(202, 167, 10, .7);
}

.noise:after,
.vignette-sepia:after,
.vignette:after {
    background-image: url(../images/ruido.png);
    opacity: .5;
}

.nogrid:after {
    background-image: none !important;
}

.mm {
    background-image: url(../images/mm.png);
    background-repeat: repeat;
}


/* texturas */

[class^=texture-]:after,
[class*=" texture-"]:after,
[class^=preset-]:after,
[class*=" preset-"]:after,
.grid:after {
    content: "" !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background-repeat: repeat !important;
    padding: 0 !important;
    margin: 0 !important;
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -ms-animation: none !important;
    z-index: 0 !important;
    filter: alpha(opacity=70);
    -moz-opacity: .7;
    opacity: .7;
}

.grid:after {
    background-image: url(../images/grid.png) !important;
}

.texture-leather:after {
    background-image: url(../images/leather.png) !important;
}

.texture-paper1:after {
    background-image: url(../images/paper_texture1.png) !important;
}

.texture-paper2:after {
    background-image: url(../images/paper_texture2.png) !important;
}

.texture-damask:after {
    background-image: url(../images/damask.png) !important;
}

.texture-cachemira:after {
    background-image: url(../images/backg.png) !important;
}

.texture-encalado:after {
    background-image: url(../images/encalado.png) !important;
}

.texture-flakes:after {
    background-image: url(../images/flakes.png) !important;
}


/* efectos especiales */

.saturate {
    -webkit-filter: saturate(3);
    filter: saturate(3);
    filter: url('data:image/svg+xml;charset=utf-8,#filter');
    filter: saturate(3);
}

.grayscale {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.contrast {
    -webkit-filter: contrast(160%);
    filter: contrast(160%);
    filter: url('data:image/svg+xml;charset=utf-8,#filter');
    filter: contrast(160%);
}

.brightness {
    -webkit-filter: brightness(0.25);
    filter: brightness(0.25);
    filter: url('data:image/svg+xml;charset=utf-8,#filter');
    filter: brightness(0.25);
}

.blur {
    -webkit-filter: blur(3px);
    filter: blur(3px);
    filter: progid: DXImageTransform.Microsoft.blur(pixelradius=3);
}

.hide {
    position: absolute;
    height: 0;
    width: 0;
    overflow: 0;
    left: -100%;
}

.svg-blur {
    -webkit-filter: url(#svg-blur);
    filter: url(#svg-blur);
}

.invert {
    filter: DXImageTransform.Microsoft.Invert(enabled);
}

.sepia {
    filter: url('data:image/svg+xml;charset=utf-8,#filter');
    -webkit-filter: sepia(100%);
    filter: sepia(100%);
}

.huerotate {
    filter: url('data:image/svg+xml;charset=utf-8,#filter');
    -webkit-filter: hue-rotate(180deg);
    filter: hue-rotate(180deg);
}

.gradient {
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.25) 0%, rgba(255, 255, 255, 0.125) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(255, 255, 255, 0.125) 100%);
}