.rotate-180 {
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}

.rotate-90 {
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
}

.rotate--90 {
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
}

.rotate-45 {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.rotate--45 {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.rotate-30 {
	transform: rotate(30deg);
	-webkit-transform: rotate(30deg);
}

.rotate--30 {
	transform: rotate(-30deg);
	-webkit-transform: rotate(-30deg);
}

.rotate-15 {
	transform: rotate(15deg);
	-webkit-transform: rotate(15deg);
}

.rotate--15 {
	transform: rotate(-15deg);
	-webkit-transform: rotate(-15deg);
}

.rotate-7 {
	transform: rotate(7.5deg);
	-webkit-transform: rotate(7.5deg);
}

.rotate--7 {
	transform: rotate(-7.5deg);
	-webkit-transform: rotate(-7.5deg);
}

.rotate-3 {
	transform: rotate(3.75deg);
	-webkit-transform: rotate(3.75deg);
}

.rotate--3 {
	transform: rotate(-3.75deg);
	-webkit-transform: rotate(-3.75deg);
}

.rotate-1 {
	transform: rotate(1.875deg);
	-webkit-transform: rotate(1.875deg);
}

.rotate--1 {
	transform: rotate(-1.875deg);
	-webkit-transform: rotate(-1.875deg);
}
.rotate-origin-top {
	transform-origin: top;
	-webkit-transform-origin: top;
}
.rotate-origin-bottom {
	transform-origin: bottom;
	-webkit-transform-origin: bottom;
}
.rotate-origin-left {
	transform-origin: left;
	-webkit-transform-origin: left;
}
.rotate-origin-right {
	transform-origin: right;
	-webkit-transform-origin: right;
}