@page {
	size: A4 landscape !important;
	page-break-inside: always;
	page-break-after: always;
	page-break-before: always;
	overflow: hidden;
	margin: 0;
	padding: 0;
	zoom: 1;
}

html>body {
	font-size: 14px !important;
}

body {
	background-image: url();
	background-color: var(--claro);
}

body,
main,
section {
	position: relative !important;
	width: 297mm !important;
	height: auto !important;
	top: 0 !important;
	left: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	opacity: 1 !important;
	overflow: hidden;
	border: 0px;
	border: none;
	-webkit-text-size-adjust: 100% !important;
	-webkit-font-size: 80% !important;
}

main {
	page-break-before: always;
	page-break-inside: auto;
}

section {
	height: 210mm !important;
	overflow: hidden !important;
}

figure:after,
picture:after {
	background-image: url();
	background: none;
}

.text-stroke,
.text-shadow,
.text-relief,
.text-relief-b {
	text-shadow: none !important;
	-webkit-text-stroke: none !important;
}

nav,
menu,
.menuopenclose,
.button-collapse,
aside,
#comentarios,
#navigation {
	visibility: hidden !important;
	display: none !important;
	opacity: 0 !important;
	filter: alpha(opacity=0);
	width: 0;
	height: 0;
}
/* opera */

.nomobile {
	z-index: 0 !important;
}

.nomobile:after {
	content: " ";
}

* {
	text-shadow: none !important;
	-webkit-text-stroke: none !important;
}